<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Chinese</key>
	<string></string>
	<key>Japanese</key>
	<string></string>
	<key>Indian</key>
	<string></string>
	<key>Italian</key>
	<string></string>
	<key>French</key>
	<string></string>
	<key>Spanish</key>
	<string></string>
	<key>Mexico</key>
	<string></string>
	<key>Malaysian</key>
	<string></string>
	<key>Korean</key>
	<string></string>
</dict>
</plist>
